html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    background-color: #fff
}

a {
    color: #000;
    text-decoration: none;
    outline: none
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    padding: 0;
    margin: 0
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Bitter", serif;
    font-weight: 600;
    font-size: 43px;
    line-height: 1;
    color: #494949
}

.title:after {
    content: "";
    display: inline-block;
    width: 115px;
    height: 3px;
    background-color: #494949;
    margin-top: 55px
}

.header {
    color: #fff
}

.header a {
    color: #fff
}

.header .header__burger .show {
    opacity: 0
}

.header__body {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header__logo {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1
}

.header__logo:before {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 54px;
    z-index: -1;
    width: 80px;
    height: 80px;
    background-color: #00bd9b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}

.header__logo-pro {
    font-size: 42px;
    font-weight: 600
}

.header__logo-text {
    padding: 0 10px 0 5px;
    font-weight: 300
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase
}

.header__list-item+.header__list-item {
    margin-left: 27px
}

.header__link {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease
}

.header__link:hover {
    color: #00bd9b
}

.header__content {
    text-align: center;
    padding-top: 130px
}

.header__title {
    max-width: 945px;
    margin: 0 auto;
    font-family: "Bitter", serif;
    font-size: 3.5rem;
    line-height: 1.2;
    padding-bottom: 70px
}

.header__descr {
    max-width: 750px;
    margin: 0 auto;
    color: #bebebe;
    font-size: 13px;
    padding-bottom: 90px
}

.header__btn {
    display: inline-block;
    border-radius: 11px;
    background-color: #fd4c46;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 1;
    font-weight: 600;
    padding: 17px 60px 18px 60px;
    margin-bottom: 120px;
    outline: none;
    transition: background-color, 0.3s;
    -webkit-transition: background-color, 0.3s;
    -moz-transition: background-color, 0.3s;
    -ms-transition: background-color, 0.3s;
    -o-transition: background-color, 0.3s
}

.header__btn:hover {
    background-color: #fd3832
}

.prev__content {
    text-align: center;
    padding-top: 135px;
    padding-bottom: 115px
}

.prev__title {
    max-width: 945px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 50px
}

.prev__title:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    width: 145px;
    height: 3px;
    background-color: #00bd9b
}

.prev__descr {
    max-width: 750px;
    margin: 0 auto;
    color: #787878;
    padding: 50px 0 45px 0;
    line-height: 21px
}

.prev__btn {
    text-transform: uppercase;
    display: inline-block;
    background-color: #00bd9b;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 11px;
    padding: 18px 45px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    transition: background-color, 0.3s ease;
    -webkit-transition: background-color, 0.3s ease;
    -moz-transition: background-color, 0.3s ease;
    -ms-transition: background-color, 0.3s ease;
    -o-transition: background-color, 0.3s ease
}

.prev__btn:hover {
    background-color: #00b393
}

.about {
    background-color: #646362;
    color: #fff
}

.about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 70px
}

.about__title {
    color: #fff
}

.about__title:after {
    background-color: #fff
}

.about__descr {
    max-width: 765px
}

.portfolio__title_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 175px
}

.portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.portfolio_link {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 10px 8px;
    margin: 0 2px 0 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: none;
    border-radius: 4px
}

.portfolio_link:hover {
    color: #ffffff;
    background-color: #00bd9b;
    border-radius: 4px
}

.portfolio_link_active {
    color: #ffffff;
    background-color: #00bd9b;
    border: none;
    border-radius: 4px
}

.portfolio__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 80px 0 80px 0
}

.portfolio__item {
    -webkit-box-shadow: 0px 0px 10px rgba(158, 158, 158, 0.7);
    box-shadow: 0px 0px 10px rgba(158, 158, 158, 0.7);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: relative;
    width: 255px;
    height: 229px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-right: 30px
}

.portfolio__item__img {
    width: 100%;
    height: 100%
}

.portfolio__item__img img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top center;
    object-position: top center;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease
}

.portfolio__item_click__inner {
    transition: all 0.5s ease;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease
}

.portfolio__item_click {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0
}

.portfolio__item_click__overflow {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.portfolio__item_click__link {
    text-align: center;
    padding: 12px 0;
    color: #ffffff;
    background-color: #109c83
}

.portfolio__item:hover .portfolio__item__img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2)
}

.portfolio__item:hover .portfolio__item_click__inner {
    opacity: 1
}

.customer__inner {
    background-color: #00bd9b
}

.customer__title {
    font-size: 23px;
    line-height: 50px;
    font-weight: 600;
    color: #707070;
    margin: 60px 0 80px 0;
    margin-left: 195px
}

.customer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.customer__body {
    position: relative;
    max-width: 500px;
    padding: 35px 0;
    color: #ffffff;
    margin-right: 195px
}

.customer__img {
    position: absolute;
    top: -50px;
    left: -165px;
    border: 4px solid #00bd9b;
    width: 100px;
    height: 100px;
    background-color: black;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}

.customer__text {
    font-weight: 600;
    font-size: 18px
}

.customer__position {
    font-size: 14px;
    opacity: 0.9
}

.customer__descr {
    font-style: italic;
    font-size: 13px;
    opacity: 0.9
}

.team {
    padding-top: 170px
}

.team__items {
    padding-top: 90px;
    padding-bottom: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.team__items .team__item {
    position: relative;
    width: 260px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px
}

.team__items .team__item-img {
    width: 100%;
    height: 100%
}

.team__items .team__item-img img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%
}

.team__items .team__item-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease
}

.team__items .team__item-inner:hover {
    opacity: 1
}

.team__items .team__item-inner__click {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%
}

.team__items .team__item-inner__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.team__items .team__item-inner__link {
    margin-left: 15px
}

.team__items .team__item-inner__link i {
    display: block;
    color: #ffffff;
    font-size: 35px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease
}

.team__items .team__item-inner__link i:hover {
    color: #00bd9b
}

.team__items .team__item-inner__link:first-child {
    margin-left: 0
}

.team__items .team__item-inner__text {
    text-align: center;
    background-color: #00bd9b;
    color: #ffffff;
    line-height: 22px;
    padding: 8px 0
}

.team__items .team__item-inner__head {
    font-size: 18px;
    font-weight: 600
}

.team__items .team__item-inner__descr {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.7
}

.contact__title {
    padding-top: 150px;
    padding-bottom: 30px
}

.contact__title-content {
    text-align: center
}

.contact__title-text {
    padding-bottom: 65px;
    color: #fff;
    font-size: 43px;
    line-height: 50px
}

.contact__title-btn {
    padding-bottom: 65px
}

.contact__title-btn__link {
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    background-color: #fd4c46;
    border-radius: 11px;
    text-transform: uppercase;
    font-weight: 600
}

.contact__title-btn__link:hover {
    background-color: #fd453e
}

.service {
    padding-top: 180px
}

.service__items {
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 125px
}

.service__item {
    max-width: 360px;
    padding-top: 60px;
    text-align: center;
    color: #484848
}

.service__item__img {
    margin-bottom: 30px
}

.service__item__title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px
}

.service__item__descr {
    font-size: 13px
}

.description {
    background-color: #55514c
}

.description__text {
    text-align: center;
    padding: 70px 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    color: #ffffff
}

.contact {
    padding: 175px 0 155px 0
}

.contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.contact__body-info {
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 14px
}

.contact__body-info__head {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px
}

.contact__body-info__adress {
    margin-bottom: 40px
}

.contact__body-form {
    width: 555px
}

.contact__body-form .contact__input {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    padding: 24px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    font-weight: 300
}

.contact__body-form .contact__textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 30px 5px 10px 24px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    height: 67px;
    resize: none;
    margin-bottom: 50px
}

.contact__body-form .contact__btn {
    border: none;
    background-color: #fd4c46;
    padding: 13px 40px;
    border-radius: 11px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.contact__body-form .contact__btn:hover {
    background-color: #fd3d37
}

.contact__link {
    margin-left: 13px;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #484848
}

.contact__link:hover {
    color: #00bd9b
}

.contact__link-email {
    margin-bottom: 30px
}

.contact__link-tel {
    margin-bottom: 100px
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.footer {
    background-color: #55514c;
    padding: 16px 0
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    padding: 10px
}

.footer__inner-text {
    font-size: 18px
}

.footer__inner-up {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg)
}

@media (max-width:1150px) {
    .team__items .team__item {
        width: 49%;
        height: 100%;
        margin-right: 0
    }

    .team__items .team__item-img {
        max-height: 500px
    }
}

@media (max-width:1140px) {
    .portfolio__items {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .portfolio__item {
        margin-right: 30px
    }
}

@media (max-width:1100px) {
    .portfolio__item {
        width: 40%;
        height: 100%;
        margin-right: 30px
    }

    .team__items .team__item {
        margin: 10px auto;
        width: 62%
    }
}

@media (max-width:1000px) {
    .title {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .title:after {
        margin-top: 40px
    }

    .header__content {
        padding-top: 60px
    }

    .header__title {
        padding-bottom: 40px
    }

    .header__descr {
        padding-bottom: 40px
    }

    .header__btn {
        margin-bottom: 40px
    }

    .prev__title:after {
        margin-top: 40px
    }

    .prev__content {
        padding: 40px
    }

    .prev__descr {
        padding: 20px 0
    }

    .portfolio__items {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 40px 0 0 0
    }

    .portfolio__item {
        width: 46%;
        height: 100%;
        margin-right: 30px
    }

    .portfolio__title_top {
        padding-top: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .portfolio__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px
    }

    .customer__body {
        margin-right: 20px
    }

    .customer__title {
        margin: 20px 0 50px 40px
    }

    .team {
        padding-top: 20px
    }

    .team__items {
        padding: 40px 0 20px 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .team__item {
        margin-right: 30px
    }

    .contact__title {
        padding: 60px 0 20px 0
    }

    .service {
        padding-top: 40px
    }

    .service__items {
        margin-top: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 20px
    }

    .service__item {
        margin: 0 auto
    }

    .description__text {
        padding: 20px 0
    }

    .contact {
        padding: 20px 0
    }

    .contact__body-info {
        padding-top: 25px
    }

    .contact__body-form {
        width: 50%
    }
}

@media (max-width:860px) {
    .team__items .team__item {
        margin: 10px auto
    }
}

@media (max-width:796px) {
    .portfolio__item {
        width: 100%;
        margin-right: 0
    }
}

@media (max-width:768px) {
    .about__content {
        padding: 20px 0
    }

    .about__title {
        width: 33%
    }

    .portfolio__list {
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .portfolio__list_item {
        margin-bottom: 2px
    }

    .portfolio_link {
        display: inline-block
    }

    .contact__link-tel {
        margin-bottom: 30px
    }

    .contact__body-info__social {
        margin-bottom: 30px
    }

    .contact__body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .form {
        display: block;
        width: 100%
    }

    .contact__body-form {
        width: 100%;
        text-align: center
    }
}

@media (max-width:710px) {
    .header__body {
        width: 100%
    }

    .header__nav {
        width: 100%;
        position: fixed;
        z-index: 4
    }

    .header__burger {
        width: 30px;
        height: 20px;
        position: absolute;
        top: -10px;
        z-index: 6;
        right: 20px;
        margin-right: 15px
    }

    .header__burger span {
        width: 100%;
        height: 4px;
        background-color: #00a486;
        position: absolute;
        top: 8px
    }

    .header__burger:after,
    .header__burger:before {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #00a486;
        position: absolute
    }

    .header__burger:after {
        bottom: 0
    }

    .header__burger :before {
        top: 0
    }

    .header__list {
        display: none;
        position: absolute;
        top: 30px;
        left: -15px;
        text-align: center;
        width: 100%;
        background-color: #00a486
    }

    .header__list-item+.header__list-item {
        margin-left: 0
    }

    .header__link {
        display: block;
        width: 100%;
        padding: 20px 0
    }

    .header__link:hover {
        color: #09302c
    }

    .about__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .about__title {
        margin-bottom: 30px
    }

    .customer__box {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .customer__title {
        text-align: center;
        margin: 0
    }

    .customer__img {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        margin: 0 auto 10px
    }
}

@media (min-width:711px) {
    .header__list {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media (max-width:570px) {
    .about__title {
        width: 100%
    }

    .portfolio__item {
        margin-right: 0
    }

    .team__item {
        margin-right: 0
    }
}

@media (max-width:470px) {
    .contact__body-info__social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .contact__link {
        font-size: 40px;
        margin-bottom: 20px
    }

    .contact__link:first-child {
        margin-top: 20px
    }
}

@media (max-width:400px) {
    .header__title {
        font-size: 24px
    }

    .header__btn {
        font-size: 14px
    }

    .about__title {
        width: 100%
    }

    .prev__content {
        padding: 40px 0
    }

    .prev__title h2 {
        font-size: 30px;
        line-height: 1.4
    }

    .customer__title {
        font-size: 20px;
        margin-bottom: 10px
    }

    .contact__title {
        padding: 20px 0 20px 0
    }

    .contact__title-text {
        font-size: 24px;
        padding-bottom: 20px
    }

    .contact__title-btn {
        padding-bottom: 20px
    }

    .description__text {
        font-size: 24px;
        line-height: 1.3
    }

    .contact__body-info__social p {
        margin-right: 30px;
        margin-bottom: 20px
    }

    .footer__inner-text {
        font-size: 12px
    }
}